{% extends 'blog/base.html' %}

{% block content %}
  {% if form.errors %}
    <div class="alert alert-danger">
      Неверное имя пользователя или пароль
    </div>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <div class="alert alert-danger">
        Недостаточно прав для просмотра страницы
      </div>
      {% else %}
      <div class="alert alert-info">
        Необходима аутентификация
      </div>
    {% endif %}
  {% endif %}
  <h3> Аутентификация</h3>
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tbody>
        <tr>
          <td>{{form.username.label_tag}}</td>
          <td>{{form.username}}</td>
        </tr>

        <tr>
          <td>{{form.password.label_tag}}</td>
          <td>{{form.password}}</td>
        </tr>
      </tbody>
    </table>
    <input type="submit" value="Войти" class="btn btn-primary">
    <input type="hidden" name="next" value="{{next}}">
  </form>
{% endblock%}